<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Booking</h2>
                    <h3 class="section-subheading text-muted">If you want to book the Cat's Eye for an event, follow the following steps. Once you're done, fill out our booking form bellow.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">-->
                                <span class="fa-stack symbol-responsive">
                                    <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Check Availability</h4>
                                    <!--<h4 class="subheading">Our Humble Beginnings</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Take a look at out calendar[link to calendar?] and check that your desired date and time aren't taken. It's also a good idea to consider whether there are similar events happening around that time.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">    
                                <!--<img class="img-circle img-responsive" src="img/about/2.jpg" alt="">-->
                                <span class="fa-stack symbol-responsive">
                                    <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Check Equipment</h4>
                                    <!--<h4 class="subheading">An Agency is Born</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">If your event requires any special equipment, make sure that we have it! A list of our equipment is provided above in our SPACE[link] section. Some equipment such as podiums, additional projectors or chairs must be requested through Events Victoria ([insert mailto link]).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/3.jpg" alt="">-->
                                <span class="fa-stack symbol-responsive">

                                    <i class="fa fa-glass fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Book the Bar</h4>
                                    <!--<h4 class="subheading">Transition to Full Service</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">If you'd like the bar to be open during your event, you need to book it separately along with security for the duration of the event. To do so, contact Events Victoria and fill out a risk assessment form. Once you have booked the space and the bar, forward the confirmation email to us. Note: food must be provided by the organisers when booking a bar event.</p>
                                </div>
                            </div>
                        <li class="timeline-inverted">
                            
                            <a href="#portfolioModalForm" class="portfolio-link" data-toggle="modal">
                            <div class="timeline-image final" id="colorCycle" >
                                <div style="position:absolute;" class="fa-stack symbol-responsive final">
                                    <i class="fa fa-plus fa-stack-1x fa-inverse see-more final"></i>
                                </div> 
                                <h4>Book
                                    <br>With
                                    <br>Us!</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>