 <!-- Form Modal -->
<div class="portfolio-modal modal fade" id="portfolioModalForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <hr class="star-primary">
                        <!-- Content goes here-->
                        <div class="form-container">
                        <iframe src="https://docs.google.com/a/thecatseye.ca/forms/d/1GBO87TYmsD59Alb_qRj7IhEMubPEml9wFiB1FR2B63M/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                        </div>
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="close-modal" data-dismiss="modal">
            <span class="fa-stack fa-2x">
                <i class="fa fa-times fa-stack-1x"></i>
            </span>
        </div>
    </div>
</div>