 <!-- Form Modal -->
<div class="portfolio-modal modal fade" id="portfolioModalForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Form</h2>
                        <hr class="star-primary">
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="close-modal" data-dismiss="modal">
            <span class="fa-stack fa-2x">
                <i class="fa fa-times fa-stack-1x"></i>
            </span>
        </div>
    </div>
</div>