 <!-- Members Modal -->
<div class="portfolio-modal modal fade" id="portfolioModalMembers" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Members</h2>
                        <hr class="star-primary">
                        <!-- Content goes here-->
                        {% for subcommittee in site.subcommittee %}
                        <div class="col-md-15 col-sm-3">
                            <div class="team-member">
                                <h4 style="font-size:12px">{{ subcommittee.name }}</h4>
                                <!--<img src="img/team/{{ subcommittee.pic }}.jpg" class="img-responsive img-circle" alt="">-->
                                <img src="http://placehold.it/200x200?text={{ subcommittee.pic }}" class="img-responsive img-circle" alt="">
                            </div>
                        </div>
                        {% endfor %}
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="close-modal" data-dismiss="modal">
            <span class="fa-stack fa-2x">
                <i class="fa fa-times fa-stack-1x"></i>
            </span>
        </div>
    </div>
</div>