 <!-- Members Modal -->
<div class="portfolio-modal modal fade" id="portfolioModalMembers" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        <h2>Members</h2>
                        <hr class="star-primary">
                        <!-- Content goes here-->
                        <div class="row">
                        {% for subcommittee in site.subcommittee %}
                        <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15 subcommittee">
                            <h4 style="white-space: nowrap ;"><br>{{ subcommittee.name }}</h4>
                            <img src="http://placehold.it/150x150?text={{ subcommittee.pic }}" class="img-circle" alt="">
                        </div>
                        {% endfor %}
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="close-modal" data-dismiss="modal">
            <span class="fa-stack fa-2x">
                <i class="fa fa-times fa-stack-1x"></i>
            </span>
        </div>
    </div>
</div>