<!-- Services Section -->
    <!-- Portfolio Grid Section -->
    <!--<section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Space</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-caption">
                        <h4 >Venue</h4>
                    </div>
                    <a href="#portfolioModalVenue" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/space/venue2.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-caption">
                        <h4 >Audio</h4>
                    </div>
                    <a href="#portfolioModalVenue" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/space/audio2.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-caption">
                        <h4 >Tech</h4>
                    </div>
                    <a href="#portfolioModalVenue" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/space/tech2.jpg" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>-->

    <section id="servicesx" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Space</h2>
                    <h3 class="section-subheading text-muted">The Cat's Eye is a fully accessible venue with access ramps at both of its entrances. It features a stage with sound and light systems, a games corner with various systems, and a games room---</h3>
                </div>
            </div>
            <div class="row text-center">
                <!--<div class="col-md-4">
                    <h4 class="service-heading">Venue</h4>
                    <a href="#portfolioModalVenue" class="portfolio-link" data-toggle="modal">
                        <span class="fa-stack fa-5x">
                            <div class="space-see-more">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </div>
                            <img src="img/space/venue.jpg" class="img-responsive" style="border-radius:50%" alt="">
                        </span>
                    </a>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Audio</h4>
                    <a href="#portfolioModalVenue" class="portfolio-link" data-toggle="modal">
                        <span class="fa-stack fa-5x">
                            <div class="space-see-more">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </div>
                            <img src="img/space/audio.jpg" class="img-responsive" style="border-radius:50%" alt="">
                        </span>
                    </a>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Tech</h4>
                    <a href="#portfolioModalTech" class="portfolio-link" data-toggle="modal">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                            <div class="space-see-more">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </div>
                        </span>
                    </a>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>-->
                <!--<div class="col-md-4">
                    <h4 class="service-heading">Venue</h4>
                    <a href="#portfolioModalVenue" class="portfolio-link" data-toggle="modal">
                        <span class="fa-stack fa-5x">
                            <div class="space-see-more">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                            </div>
                            <img src="img/space/venue.jpg" class="img-responsive" style="border-radius:50%" alt="">
                        </span>
                    </a>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Audio</h4>
                    <a href="#portfolioModalVenue" class="portfolio-link" data-toggle="modal">
                        <span class="fa-stack fa-5x">
                            <div class="space-see-more">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
                            </div>
                            <img src="img/space/audio.jpg" class="img-responsive" style="border-radius:50%" alt="">
                        </span>
                    </a>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Tech</h4>
                    <a href="#portfolioModalTech" class="portfolio-link" data-toggle="modal">
                        <span class="fa-stack fa-5x">
                            <div class="space-see-more">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                            </div>
                            <img src="img/space/tech.jpg" class="img-responsive" style="border-radius:50%" alt="">
                        </span>
                    </a>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>-->
                <div class="col-md-4">
                    <h4 class="service-heading">Venue</h4>
                    <a href="#portfolioModalVenue" class="portfolio-link" data-toggle="modal">
                        <span class="fa-stack fa-5x">
                            <div class="space-see-more">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                            </div>
                            <img src="img/space/venue.jpg" class="img-responsive" style="border-radius:50%" alt="">
                        </span>
                    </a>
                    <p class="text-muted">The main room includes a [insert  dimensions here] stage with an access ramp and a gaming corner with various systems. We also have a Games Room with pool tables, air hockey, ping pong, foosball, pinball, and an arcade dance machine.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Audio</h4>
                    <a href="#portfolioModalAudio" class="portfolio-link" data-toggle="modal">
                        <span class="fa-stack fa-5x">
                            <div class="space-see-more">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
                            </div>
                            <img src="img/space/audio.jpg" class="img-responsive" style="border-radius:50%" alt="">
                        </span>
                    </a>
                    <p class="text-muted">We have an acoustic guitar, an electric guitar with amp, an electric bass guitar with amp, a soprano ukulele, a drum kit, and a keyboard. We can also have up to 5(?) mics at a time.
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Tech</h4>
                    <a href="#portfolioModalTech" class="portfolio-link" data-toggle="modal">
                        <span class="fa-stack fa-5x">
                            <div class="space-see-more">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-sliders fa-rotate-90 fa-stack-1x fa-inverse"></i>
                            </div>
                            <img src="img/space/tech.jpg" class="img-responsive" style="border-radius:50%" alt="">
                        </span>
                    </a>
                    <p class="text-muted">Our stage has a full light rig including both white and LED lights, and a 9-channel(?) sound system. The stage is also fitted with a projector and a retractable screen. Our light and sound boxes, as well as our DVD/BluRay player are located in a sound booth across from the stage.</p>
                </div>
            </div>
        </div>
    </section>