<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Two Co-Managers oversee and run the space, each serving for a full year until the end of the first or second semester.
A Subcommittee of 33 Victoria College students is selected annually in September following an application period and group interviews.</h3>
                </div>
            </div>
            <div class="row">
                {% for exec in site.exec %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <h4>{{ exec.name }}</h4>
                        <p class="text-muted">{{ exec.position }}</p>
                        <img src="img/team/{{ exec.pic }}.jpg" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <h4>Subcommitee</h4>
                        <p class="text-muted">2015-2016</p>
                        <a href="#portfolioModalMembers" class="portfolio-link" data-toggle="modal">
                            <img src="img/team/3a.jpg" class="img-responsive img-circle" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>