<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Two Co-Managers oversee and run the space, each serving for a full year until the end of the first or second semester.
A Subcommittee of 33 Victoria College students is selected annually in September following an application period and group interviews.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <h4>{{ member.name }}</h4>
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <h4>Subcommitee</h4>
                        <a href="#portfolioModalMembers" class="portfolio-link" data-toggle="modal">
                            <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        </a>
                        <p class="text-muted">2015-2016</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://twitter.com/viccateseye"><i class="fa fa-twitter"></i></a>
                            <li><a href="http://www.facebook.com/thecatseye"><i class="fa fa-facebook"></i></a>
                            <li><a href="https://www.flickr.com/photos/129567669@N05/sets/"><i class="fa fa-flickr"></i></a>
 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>