header {
    background-color: #000000;
    height: 100vh;
    width: 100%;
}


.navbar-default .navbar-brand {
    background: url(../img/logo.png) no-repeat 0px center;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    display: block;
    margin: 5px 5px;
}

@media(min-width:768px) {

    .navbar-default .navbar-brand {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
    }
}

.symbol-responsive {
    font-size: 30px;
}

@media (min-width: 768px){
    .symbol-responsive {
      font-size: 43px;
    }

}

@media (min-width: 992px){
    .symbol-responsive {
      font-size: 68px;
    }
}

@media (min-width: 1200px){
    .symbol-responsive {
      font-size: 78px;
    }
}


.portfolio-modal .modal-content {
  padding: 0 0;
}

/*Hard-coded since currently cannot find fix*/
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(66,00,99,.9); /* Fallback when no plugin support */
}

.portfolio-modal .close-modal {
    top: 0px;
    right: 0px;
}

@media (min-width: 768px){
    .portfolio-modal .close-modal {
        top: +25px;
        right: +25px;
    }

}


a.portfolio-link .see-more{
    position: absolute;
    left:0%;
    opacity: 0;
    border-radius: 100%;

}

a.portfolio-link .see-more:hover{
    background: #{{ site.color.secondary }};
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0.9;
}

.form-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    margin-bottom: 30px;
}

.form-container iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


.space-see-more{
opacity: 0;
}

.space-see-more:hover{
    background: #{{ site.color.secondary }};
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0.9;
}

.space-see-less{
opacity: 1;
}

.space-see-less:hover{
    background: #{{ site.color.secondary }};
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0.1;
}