header {
    background-color: #000000;
    height: 100vh;
    width: 100%;
}


.navbar-default .navbar-brand {
    background: url(../img/logo.png) no-repeat 0px center;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    display: block;
    margin: 5px 5px;
}

@media(min-width:768px) {

    .navbar-default .navbar-brand {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
    }
}

.symbol-responsive {
    font-size: 33px;
}

.img-responsive.img-centered{
    width: 100% \9;
    max-width: 100%;
}

.img-responsive.img-centered.img-centered2{
    width: 90% \9;
    max-width: 90%;
}

.img-responsive.img-centered.img-centered3{
    width: 80% \9;
    max-width: 80%;
}


.timeline>li .timeline-image h4 {
    margin-top: 14px;
    font-size: 12px;
    line-height: 16px;
}

@media (min-width: 768px){
    .symbol-responsive {
      font-size: 43px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 20px;
        font-size: 14px;
        line-height: 18px;
    }

}

@media (min-width: 992px){
    .symbol-responsive {
      font-size: 68px;
    }
    .timeline>li .timeline-image h4 {
      margin-top: 34px;
      font-size: 20px;
      line-height: 24px;
    }
}

@media (min-width: 1200px){
    .symbol-responsive {
      font-size: 78px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px;
        font-size: 24px;
      line-height: 28px;
    }
}


.portfolio-modal .modal-content {
  padding: 0 0;
}

.portfolio-modal .close-modal {
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
}

.portfolio-modal .close-modal .fa-2x{
    font-size: 1.5em;
}


@media (min-width: 768px){
    .portfolio-modal .close-modal {
        top: 0px;
        right: 0px;
        width: 60px;
        height: 60px;
    }
    
    .portfolio-modal .close-modal .fa-2x{
        font-size: 2em;
    }

    
}


a.portfolio-link .see-more{
    position:absolute;
    border-radius: 100%;
    left: -50%;
    opacity: 0;
}

a.portfolio-link .see-more:hover{
    background: #{{ site.color.secondary }};
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0.9;
}

.form-container {
    position: relative;
    padding-bottom: 100%;
    padding-top: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.form-container iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fa-stack.final{
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.timeline>li .timeline-image.final {
    font-size: 33px;
    width: 94px;
    height: 94px;
    line-height: 94px;
    margin-left: -7px;
    /*box-shadow: 10px 10px 5px #888888;*/

}

@media (min-width: 768px){
    .timeline>li .timeline-image.final {
      font-size: 43px;
      width: 114px;
      height: 114px;
        line-height: 114px;
      margin-left: -57px;
    }
    
    .fa-stack.final{
        width: 100px;
        height: 100px;
        line-height: 100px;
    }


}

@media (min-width: 992px){
    .timeline>li .timeline-image.final {
      font-size: 68px;
      width: 164px;
      height: 164px;
        margin-left: -82px;
    }
    
    .fa-stack.final{
    width: 150px;
    height: 150px;
    line-height: 150px;
}

}

@media (min-width: 1200px){
    .timeline>li .timeline-image.final {
      font-size: 78px;
      width: 184px;
      height: 184px;
        line-height: 184px;
      margin-left: -92px;
    }
    .fa-stack.final{
    width: 170px;
    height: 170px;
    line-height: 170px;
    }


}

/*http://www.dynamicsights.com/csscolorcycle.html*/
#colorCycle { 
animation-name: homeCycle; 
animation-duration:2s; 
animation-direction:alternate; 
animation-iteration-count:infinite; 

-webkit-animation-name: homeCycle; 
-webkit-animation-duration:2s; 
-webkit-animation-direction:alternate; 
-webkit-animation-iteration-count:infinite; }	

@keyframes homeCycle 
{
    /*0% {background-color:#{{ site.color.primary }};} 
    50% {background-color:#{{ site.color.secondary }};} */
    0% {border-color:#f1f1f1;} 
    50% {border-color:#{{ site.color.primary }};} 
} 

@-webkit-keyframes homeCycle 
{ 
    /*0% {background-color:#{{ site.color.primary }};} 
    50% {background-color:#{{ site.color.secondary }};} */
    0% {border-color:#f1f1f1;} 
    50% {border-color:#{{ site.color.primary }};} 
}

section#contact {
    background-image: none;
}

#services .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#services .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

/*IMPORTANT: THIS OVERRIDES THE FALLBACK IN THE ORIGINAL AGENCY.CSS LINE 373*/
/*This is important if you decide to change the pallette*/
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(102,0,153,.9); /* Fallback when no plugin support */
    background: rgba({{ site.color.primary | hex_to_rgb | join: ',' }}, .9);
}

#services .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#services .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: inherit;
}

#services .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#services .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#services * {
    z-index: 2;
}

.space-see-more{
    opacity: 0;
}

.space-see-more:hover{
    background: #{{ site.color.secondary }};
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0.9;
}

.modal-content{
    background-color:rgba(255,255,255,0.9);
}